<%=render partial: "shared/header"%>
<div class="top-main">
  <h2>チャットルーム一覧</h2>

      <div class="rooms">
      <%current_user.rooms.each do |room|%>
        <div class="room">
          <div class="room-name">
          <%=link_to room.name, room_messages_path(room)%>
          </div>
        </div>
        <%end%>
</div>

