<%=render partial: "shared/header"%>
<div class= "top-main">
   <h2 class="index-heading">
   投稿一覧(画像)
    </h2> 
      
    <div class="card__wrapper">
      <%=render partial: "shared/post",collection: @posts%>
    </div>
</div>